<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/app.css">
</head>
<body>
  <header class="navbar navbar-inverse navbar-fixed-top">
    <a href="/" class="navbar-brand">Matt's super sweet blog</a>
    <ul class="nav navbar-nav pull-right">
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <div class="text-center">
          <iframe src="//giphy.com/embed/dKpTkya14ysJq" width="600" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
      </div> 
      <div class="col sm-4">
        <h1>Recent Posts:</h1>
        <ul>
          <li>I HAVE MANY IMPORTANT THINGS TO SAY</li>
          <li>READ THE WORDS I HAVE WRITTEN</li>
          <li>CLICKBAIT OMG!!!!!!!!!!!!!!!!!!</li>
          <li>10 REASONS WHY THIS ARTICLE WILL MAKE YOU MILLIONS</li>
          <li>LOLCATS FTW</li>
          <li>HELLO, WORLD</li>
        </ul>
        <div id="socialMedia">
          <a href="https://www.twitter.com/mmmaaatttttt"><span class="fa fa-twitter fa-3x"></span></a>
          <a href="https://www.instagram.com/mmmaaatttttt"><span class="fa fa-instagram fa-3x"></span></a>
        </div>
      </div>
    </div>
  </div>
  <footer id="footer" class="navbar navbar-inverse navbar-fixed-bottom">
    <p class="navbar-text pull-right">
      &copy; 2015. All right reserved. Don't steal my stuff.
    </p>
  </footer>  
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>