<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Matt's blog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/app.css">
</head>
<body>
  <header class="navbar navbar-inverse navbar-fixed-top">
    <a href="/" class="navbar-brand">Matt's super sweet blog</a>
    <ul class="nav navbar-nav pull-right">
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <div class="post">
          <h1>I HAVE MANY IMPORTANT THINGS TO SAY</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sapiente error optio, neque doloremque officiis magnam modi dolores alias, consequuntur, ducimus facere cumque hic ex suscipit praesentium. Reprehenderit nobis distinctio in quos libero cum quaerat, iure dolore, animi dolorem optio quo, error corporis velit accusantium ex aspernatur voluptate officiis magnam.</p>
          <p>Dolor distinctio similique eaque in harum repellendus nam, cumque accusantium iste cum facilis, suscipit ratione perspiciatis autem fugiat eveniet culpa dicta ex quis ut a possimus. Adipisci autem sapiente repudiandae temporibus aliquid accusantium fuga modi tenetur magni, doloribus, animi beatae ad fugiat ex dolor explicabo, laudantium enim! Laudantium, suscipit quas!</p>
          <p>Animi, pariatur perspiciatis, maxime sequi itaque enim commodi, ipsum incidunt ducimus eveniet modi sapiente ratione ut explicabo consequatur voluptates cupiditate? Facere iusto in dolorem fugit minima omnis, ratione culpa odio! Ex laborum quia sed omnis dolores accusantium sit, architecto possimus. Iste quae, assumenda voluptatibus laborum, impedit minima. Cupiditate, molestias nesciunt.</p>
          <p>Quia dolorum ullam nostrum sed laborum porro quaerat reiciendis voluptate, atque minus molestiae eligendi, placeat qui magni. Numquam culpa porro optio blanditiis dolorum, ducimus maxime iste impedit laudantium ipsa distinctio nemo vero alias voluptas eius tenetur? Deleniti amet fugiat laboriosam quaerat provident iure hic, totam culpa voluptates quia eius laborum!</p>
          <p>Amet rem odit quis nihil pariatur et accusantium magnam nostrum ab repellat facilis, nobis minima rerum suscipit libero atque deserunt, sequi nam modi ipsa! Culpa placeat error ut consequuntur architecto nemo maxime, exercitationem, repellat porro quaerat, sapiente atque commodi aperiam accusantium, vel ratione reprehenderit neque officia quo. In, distinctio, voluptatum!</p>
        </div>
        <div class="post">
          <h1>READ THE WORDS I HAVE WRITTEN</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit necessitatibus debitis, rem dolore vero nisi, quasi hic mollitia, praesentium possimus itaque consequuntur dicta consequatur facilis quisquam fuga soluta, culpa repudiandae amet unde obcaecati natus! Doloremque error similique laudantium laborum voluptatum, soluta maiores? Quae minima suscipit, accusamus sit impedit atque magni.</p>
          <p>Libero aut ut non excepturi, adipisci, perspiciatis animi pariatur numquam eaque sint repellendus autem architecto impedit dolorem eum, delectus aliquid quo, sapiente natus odit. Sint dolorum est ducimus veritatis aut ex mollitia veniam vero ab minima dolor explicabo labore facere eligendi, magni, culpa delectus perspiciatis harum. Eligendi, nostrum voluptatum odio!</p>
          <p>Maxime obcaecati iure molestias eaque. Blanditiis doloremque ducimus modi eius perferendis tenetur iure alias ratione architecto vitae suscipit, in delectus aperiam quasi aliquid voluptas qui repudiandae sit unde aliquam? Magnam dicta natus, autem consectetur maiores error necessitatibus, placeat minus incidunt ad fuga cum hic impedit officia rerum rem commodi, illum.</p>
          <p>Eligendi recusandae voluptatum repellat enim inventore saepe, repellendus debitis commodi delectus laudantium expedita fugit cumque placeat magni harum quibusdam modi officia consequatur, similique. Sequi sed dolor, quam voluptatibus aliquid hic a ipsa ullam officia, tempora soluta at, eos porro quas fuga. Ea adipisci perferendis distinctio dolore non nisi rem, expedita!</p>
          <p>Culpa soluta pariatur consequatur, quos voluptates ex quis nisi minus est facere sequi deserunt, saepe dolorum adipisci, dolore laborum tempore tempora ipsam unde voluptate nam! Laborum, facilis, illum. Aspernatur aut quas eius assumenda debitis incidunt ratione, velit, a excepturi voluptates harum veniam et asperiores porro! Nostrum qui accusamus ex minus?</p>
        </div>
        <div class="post">
          <h1>CLICKBAIT OMG!!!!!!!!!!!!!!!!!!</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, quisquam accusamus dolores, officia repellendus odit ex impedit non omnis beatae perferendis quos consequuntur delectus nulla excepturi sequi. Cum adipisci facilis saepe, modi deleniti eius, fugiat enim eligendi laborum ratione dolore voluptatibus fugit ab libero quos repudiandae consequatur facere, hic dicta?</p>
          <p>Dolor minus, deserunt culpa ab esse voluptas quas autem quae, nesciunt vitae nulla facilis molestiae earum repellat. Architecto consequatur ut reiciendis tenetur quo sunt. Reiciendis eos tempora quisquam minus sunt nemo aperiam necessitatibus iure quibusdam. Neque eos aliquam non earum, ratione laboriosam quibusdam dignissimos et in asperiores quasi modi aliquid?</p>
          <p>Facilis, dignissimos, blanditiis aut dolores qui recusandae perspiciatis. Sunt sit nulla, ipsam tenetur, iusto nisi quidem eum quaerat illo ipsum nihil eos adipisci accusamus totam vero ipsa. Laboriosam hic at quibusdam corporis voluptatem qui, itaque, illum et cupiditate omnis quasi vero mollitia, dolorum aliquid. Id aliquam excepturi ratione velit sapiente.</p>
          <p>Accusantium libero dolorem sunt reiciendis, perspiciatis animi inventore, doloribus consectetur dignissimos ducimus iusto ipsam nostrum, adipisci, veniam incidunt repellat dolores! Quam ipsum perspiciatis, nam ut. In quod sequi culpa, expedita deleniti sed architecto quibusdam voluptatibus autem cum odio, sunt ea sapiente natus nemo modi ducimus aperiam, consequatur perferendis, deserunt consequuntur.</p>
          <p>Rem tempore debitis fuga, nam necessitatibus ut consequatur a mollitia nostrum, iste corporis pariatur beatae, sequi quos et? Dignissimos suscipit nobis dicta recusandae voluptatem eos rerum alias ratione illum eveniet earum optio beatae minima consequuntur maiores architecto ipsum, sequi, rem distinctio quidem, quia id. Magnam omnis fuga facilis distinctio repellat.</p>
        </div>
        <div class="post">
          <h1>10 REASONS WHY THIS ARTICLE WILL MAKE YOU MILLIONS</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates modi similique nemo accusamus numquam ab recusandae id animi, dolores nulla eos, blanditiis hic qui! Doloribus quo quae illum consequuntur sint quasi veniam magni. Expedita sed tempore natus vero. Molestias dolorum magni vitae perspiciatis. Perspiciatis possimus excepturi, tenetur quisquam adipisci odit?</p>
          <p>Quisquam, nobis similique. Esse in a omnis facilis, odio sunt, expedita molestiae est ad tempore dignissimos, magnam necessitatibus asperiores dolorum rerum sequi consequatur earum. Itaque ex, placeat asperiores quia dolorem velit architecto accusamus possimus vel facilis incidunt tempora excepturi dignissimos sapiente, repellat, ipsam id neque molestiae, soluta tempore tenetur beatae!</p>
          <p>Voluptas nostrum id blanditiis enim, inventore ipsum similique, saepe fugiat qui eum animi, suscipit molestias! Qui voluptate est voluptatem quasi, culpa animi quis reiciendis corporis debitis iure, natus, maxime et odit consectetur pariatur excepturi placeat. Nisi quas, quos nam illum, iure tempore consectetur ducimus iusto obcaecati praesentium omnis ea pariatur.</p>
          <p>Enim impedit numquam harum incidunt non laboriosam asperiores sunt qui, dolorum quas, deserunt ullam est totam possimus eligendi earum beatae ratione magni eaque aspernatur ut aliquam quo. Reprehenderit molestias assumenda beatae animi quos, laborum vitae similique fugit facere voluptas, quas, laudantium doloribus, omnis aperiam neque odio! Ut placeat quisquam est!</p>
          <p>Consequatur molestiae repellendus assumenda totam, repellat doloremque. Laudantium voluptatem iusto adipisci impedit accusamus voluptate nostrum voluptas vero, quaerat, ad nihil sunt cupiditate illum ullam accusantium asperiores, magnam perferendis vel quam aperiam labore neque necessitatibus beatae ex quae. Inventore, non in odio, autem alias quia enim provident tenetur reprehenderit quos cumque?</p>
        </div>
        <div class="post">
          <h1>LOLCATS FTW</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni mollitia quos sunt accusantium ullam eveniet, doloribus iure libero ipsa. Necessitatibus ex, aliquid optio! Eum labore, expedita perspiciatis a ab, repudiandae hic corrupti, magni esse eius laboriosam ipsam necessitatibus. At enim distinctio odit autem dicta est dignissimos recusandae dolor quos accusantium!</p>
          <p>Aspernatur earum quasi quis quos ducimus repellendus rem quia blanditiis veritatis tempora repudiandae sit corporis, eum doloribus ea, in cumque. Sed quo voluptatibus fugit perferendis ea consequatur placeat qui tenetur soluta dolorum labore quae atque facere cupiditate in, nesciunt rem incidunt, reprehenderit repudiandae fuga libero molestiae sunt. Enim, tempore, beatae?</p>
          <p>Mollitia quo cum id, placeat accusantium! Sed facilis amet illo nisi temporibus fuga ex quo vitae numquam inventore minus modi, sit vel quasi necessitatibus nesciunt fugit, explicabo a iure. Pariatur doloribus perspiciatis nostrum, minima facilis quod praesentium commodi impedit laborum. Dolore iure non rerum fugit totam nulla est velit ea!</p>
          <p>Sunt ipsum, libero dolor necessitatibus voluptate laboriosam fugit velit. Sint debitis impedit delectus alias, voluptas, iste rem fugit perspiciatis tempore quas, libero! Itaque at iure et, ea iste reprehenderit rem, error dicta, suscipit provident voluptatibus impedit, amet reiciendis aut numquam. Ducimus alias, qui quasi. Dicta, totam itaque explicabo laborum possimus.</p>
          <p>Commodi doloremque consequuntur, fugit tenetur recusandae eaque amet ab unde a nemo eligendi voluptate nam, tempora dolore ipsam porro neque minima natus! Quia voluptatem fugiat nulla. Laborum laudantium quia enim autem nobis harum qui esse odio at reprehenderit labore quaerat repellendus, aut suscipit eveniet itaque facilis quod voluptate quo fugit!</p>
        </div>
        <div class="post">
          <h1>HELLO, WORLD</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quisquam similique nihil, facere laborum laudantium consequatur praesentium eius asperiores suscipit nostrum rerum, deserunt eos, maiores veritatis blanditiis maxime recusandae voluptates nemo officiis ab quo. Omnis officia ab, magni ipsam cum amet blanditiis, expedita modi adipisci, mollitia maiores ad? Quisquam, expedita.</p>
          <p>Voluptates animi doloribus maiores asperiores explicabo ipsam. Corrupti perferendis corporis, aliquid ea ullam, voluptatem error eum minus. Soluta ab ratione quos reiciendis. Perferendis aperiam dolore, amet, dolor nemo atque doloremque nihil saepe id asperiores architecto magnam debitis impedit ducimus adipisci quam reprehenderit. Nostrum, aperiam architecto, vero quisquam consectetur nisi molestias.</p>
          <p>Labore eos ipsam quae impedit ex, pariatur et laudantium quasi quia corporis ab sed minus? Impedit tempora consequuntur esse doloremque sit ex veritatis quae voluptate accusantium autem, sed quas quo earum corporis reiciendis consectetur fuga maxime, quos eum enim rem qui! Quis a magni voluptatum! Assumenda dolorum quasi illo reiciendis.</p>
          <p>Molestiae vitae sed adipisci dignissimos doloremque! Incidunt laudantium laborum fuga atque, aspernatur consequatur pariatur maiores blanditiis quisquam unde? Debitis praesentium dicta esse, saepe aliquid facilis eum eveniet illum ducimus error quisquam laudantium veritatis perferendis! Dignissimos fugit ea necessitatibus labore. Quasi impedit incidunt enim odio dolore dolorem aliquid pariatur! Distinctio, nostrum.</p>
          <p>Dolorum quasi, blanditiis veritatis dolorem minima labore soluta dicta. Aliquid esse error adipisci suscipit facilis, labore reprehenderit quibusdam, doloremque officia amet autem minus corrupti in ut ipsa commodi iste fuga excepturi praesentium earum, architecto exercitationem deserunt, maiores. Quam, accusantium, reiciendis tenetur, sint iusto asperiores nulla quidem obcaecati sapiente praesentium enim.</p>
        </div>
      </div>
      <div class="col sm-4">
        <h1>Recent Posts:</h1>
        <ul>
          <li>I HAVE MANY IMPORTANT THINGS TO SAY</li>
          <li>READ THE WORDS I HAVE WRITTEN</li>
          <li>CLICKBAIT OMG!!!!!!!!!!!!!!!!!!</li>
          <li>10 REASONS WHY THIS ARTICLE WILL MAKE YOU MILLIONS</li>
          <li>LOLCATS FTW</li>
          <li>HELLO, WORLD</li>
        </ul>
        <div id="socialMedia">
          <a href="https://www.twitter.com/mmmaaatttttt"><span class="fa fa-twitter fa-3x"></span></a>
          <a href="https://www.instagram.com/mmmaaatttttt"><span class="fa fa-instagram fa-3x"></span></a>
        </div>
      </div>
    </div>
  </div>
  <footer id="footer" class="navbar navbar-inverse navbar-fixed-bottom">
    <p class="navbar-text pull-right">
      &copy; 2015. All right reserved. Don't steal my stuff.
    </p>
  </footer>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>